<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.inforio.sorteando" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.inforio.sorteando.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.inforio.sorteando.CadastrarActivity"
            android:label="@string/title_activity_cadastrar" >
        </activity>
        <activity
            android:name="br.com.inforio.sorteando.SortearActivity"
            android:label="@string/title_activity_sortear" >
        </activity>
        <activity
            android:name="br.com.inforio.sorteando.AmigoSecretoActivity"
            android:label="@string/amigo_secreto" >
        </activity>
    </application>

</manifest>
